body{
    max-width: 100%;
    background-color: #000000;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #121212;
    padding: 10px;
    height: 50px;
    text-align: center;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}
ul li a{
    padding: 12px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}


footer{
    padding: 30px;
    text-align: center;
    background-color: #000000;
}

footer p {
    color: #ffffff;
}
/*Tot hier is het dezelfde code voor elke pagina*/

main{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    gap: 50px;
}

main a{
    text-decoration: none;
}

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 250px;
    grid-template-areas: 'img'
                         'text';

    border-radius: 25px;
    background-color: #121212;
    text-align: center;
    transition: 0.5s ease;
}

.card-img{
    grid-area: img;
    background: url("/images/footballimg.jpg");
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;

}

.card-text{
    grid-area: text;
    color: white;
    margin: auto;
}

.card-text p{
    color: rgb(175, 175, 175);
}

@media only screen and (min-width: 800px) {
    main{
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    
    ul li a:hover{
        color: #20bc4e;
        border-bottom: 2px solid #20bc4e;
    }
    
    .card:hover{
        transform: scale(1.1);
        box-shadow: 1px 1px 18px rgba(32,188,78,255);
        cursor: pointer;
    }
  }