body{
    max-width: 100%;
    background-color: #000000;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #121212;
    padding: 10px;
    height: 50px;
    text-align: center;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}
ul li a{
    padding: 12px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

#pc-nav{
    display: none;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a.page-title{
    font-size: 20px;
}

#myLinks a{
    background-color: #333;
}
  
.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


footer{
    padding: 30px;
    text-align: center;
    background-color: #000000;
}

footer p {
    color: #ffffff;
}

@media only screen and (min-width: 800px) {
    main{
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    .topnav{
        display: none;
    }
    
    #pc-nav{
        display: block;
    }

    ul li a:hover{
        color: #20bc4e;
        border-bottom: 2px solid #20bc4e;
    }

  }

/*Tot hier is het dezelfde code voor elke pagina*/

#home h1{
    color: #ffffff;
}
/*Youtube code kanaal: Brian Design*/
i{
    color: white;
}

h1{
    font: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

h2{
    font: 25px;
    margin-bottom: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
