* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    gap: 20px;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
}
footer{
    text-align: center;
    margin-top: 10px;
}
header{
    text-align: center;
    margin-bottom: -10px;
    font-size: 30px;
}

header h1{
    margin-bottom: 50px;
}


.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 200px;
    grid-template-areas: 'text'
                         'img';

    border-radius: 10px;
    background-color: #121212;
    text-align: center;
}

.card-img{
    grid-area: img;
    background: url("/images/fifa.png");
    background-size: contain;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.magic .card-img{
    background: url("/images/magic.jpg");
    background-size: contain;
}

.lego .card-img{
    background: url("/images/Lego-logo.jpg");
    background-size: contain;
}

.theone .card-img{
    background: url("/images/lordoftherings.jpg");
    background-size: cover;
}

.fort .card-img{
    background: url("/images/fortnite.jpg");
    background-size: cover;
}

.nbb .card-img{
    background: url("/images/nationalebank.png");
    background-size: contain;
}

.card-text{
    grid-area: text;
    color: white;
    margin: auto;
}

a{
    text-decoration: none;
}

button{
    border-radius: 10px;
}