<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Time</title>
    <link rel="stylesheet" href="./css/game.css" />
    <script
      src="https://kit.fontawesome.com/2391a493c1.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/game.js"></script>
    <script src="./js/menu.js"></script>
  </head>
  <body>
    <header>
      <nav id="pc-nav">
        <ul>
          <li><a href="/landingPage">Home</a></li>
          <li><a href="/quizPage">Quiz</a></li>
          <li><a href="/favorieteClubs">Favoriete Clubs</a></li>
          <li><a href="/blacklistedClubs">Blacklisted Clubs</a></li>
          <li><a href="/favorieteLeague">Favoriete Leagues</a></li>
        </ul>
      </nav>
      <nav class="topnav">
        <a href="/quizPage" class="page-title">Quiz</a>
        <div id="myLinks">
          <a href="/landingPage">Home</a>
          <a href="/favorieteClubs">Favoriete Clubs</a>
          <a href="/blacklistedClubs">Blacklisted Clubs</a>
          <a href="/favorieteLeague">Favoriete Leagues</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa-solid fa-bars"></i>
        </a>
      </nav>
    </header>
    <main>
      <div id="home">
        <div id="game" class="justify-center flex-column">
          <div id="hud">
            <div class="hud-item">
              <p id="progressText" class="hud-prefix">vraag</p>
              <div id="progressBar">
                <div id="progressBarFull"></div>
              </div>
            </div>
            <div class="hud-item">
              <p class="hud-prefix">Score</p>
              <h1 class="hud-main-text" id="score">0</h1>
            </div>
          </div>
          <img id="apiFoto" src="/images/Barcelona.png" alt="">
          <form action="/game" method="POST" id="toevoegen">
            <input type="text" class="hidden" id="clubName" name="naam">
            <input type="text" class="hidden" id="clubId" name="clubID">
            <input type="text" class="hidden" id="clubLeagueID" name="league">
            <button type="submit" class="like"><i class="fa-solid fa-thumbs-up"></i></button>
          </form>
          <form action="/game" method="POST">
            <input type="text" class="hidden" id="BLclubName" name="BLnaam">
            <input type="text" class="hidden" id="BLclubId" name="BLclubID">
            <input type="text" class="hidden" id="BLclubLeagueID" name="BLleague">
            <button type="submit" class="dislike"><i class="fa-solid fa-thumbs-down"></i></button>
            <textarea name="BLreason" id="BLreason" cols="30" rows="10" placeholder="Reden waarom je de club gaat blacklisten" required></textarea>
            
          </form>
          <h2 id="question">Sample question?</h2>
          <div class="choice-container">
            <p class="choice-prefix">A</p>
            <p class="choice-text" data-number="1">Choice</p>
          </div>
          <div class="choice-container">
            <p class="choice-prefix">B</p>
            <p class="choice-text" data-number="2">Choice</p>
          </div>
          <div class="choice-container">
            <p class="choice-prefix">C</p>
            <p class="choice-text" data-number="3">Choice</p>
          </div>
          <div class="choice-container">
            <p class="choice-prefix">D</p>
            <p class="choice-text" data-number="4">Choice</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; IT-PROJECT gemaakt door SBC 2021-2022</p>
    </footer>
  </body>
</html>
