<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fifa main</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script defer src="./js/modal.js"></script>
    <link rel="stylesheet" href="./css/modal.css" />
  </head>
  <body>
    <header><h1>IT PROJECT</h1></header>
    <main>
      <a href="/landingPage">
        <div class="card">
          <div class="card-text">
            <h2>Fifa</h2>
          </div>
          <div class="card-img"></div>
        </div>
      </a>
      <button id="myBtn" class="fort">
        <div class="card">
          <div class="card-text">
            <h2>Fortnite</h2>
          </div>
          <div class="card-img"></div>
        </div>
      </button>
      <button id="myBtn2" class="nbb">
        <div class="card">
          <div class="card-text">
            <h2>Project NBB</h2>
          </div>
          <div class="card-img"></div>
        </div>
      </button>
      <button id="myBtn3" class="lego">
        <div class="card">
          <div class="card-text">
            <h2>Lego</h2>
          </div>
          <div class="card-img"></div>
        </div>
      </button>
      <button id="myBtn4" class="theone">
        <div class="card">
          <div class="card-text">
            <h2>The One</h2>
          </div>
          <div class="card-img"></div>
        </div>
      </button>
      <button id="myBtn5" class="magic">
        <div class="card">
          <div class="card-text">
            <h2>Magic The Gathering</h2>
          </div>
          <div class="card-img"></div>
        </div>
      </button>
      <!-- Start w3schools code -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h1>Je kan niet meer aan dit project meewerken</h1>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; IT-PROJECT gemaakt door SBC 2021 - 2022</p>
    </footer>
  </body>
</html>
