<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/landingPage.css" />
    <script
      src="https://kit.fontawesome.com/2391a493c1.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/menu.js"></script>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav id="pc-nav">
        <ul>
          <li><a href="/landingPage">Home</a></li>
          <li><a href="/quizPage">Quiz</a></li>
          <li><a href="/favorieteClubs">Favoriete Clubs</a></li>
          <li><a href="/blacklistedClubs">Blacklisted Clubs</a></li>
          <li><a href="/favorieteLeague">Favoriete Leagues</a></li>
        </ul>
      </nav>
      <!--Begin w3schools code-->
      <nav class="topnav">
        <a href="/landingPage" class="page-title">HOME</a>
        <div id="myLinks">
          <a href="/quizPage">Quiz</a>
          <a href="/favorieteClubs">Favoriete Clubs</a>
          <a href="/blacklistedClubs">Blacklisted Clubs</a>
          <a href="/favorieteLeague">Favoriete Leagues</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa-solid fa-bars"></i>
        </a>
      </nav>
      <!--Einde w3schools code-->
    </header>
    <main>
        <div class="container">
            <div id="end" class="flex-center flex-column">
                <h1 id="finalScore">0</h1>
                <form action="" method="post"></form>
            </div>
        </div>
    </main>
    <footer>
      <p>&copy; IT-PROJECT gemaakt door SBC 2021-2022</p>
    </footer>
  </body>
</html>
