html{
  height: 100%;
}
body{
  max-width: 100%;
  min-height: 100%;
  background-color: #000000;
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

header{
  background-color: #121212;
  padding: 10px;
  height: 50px;
  text-align: center;
}

ul{
  list-style: none;
}
li{
  display: inline-block;
}
ul li a{
  padding: 12px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
}

#pc-nav{
  display: none;
}
/*Begin w3schools code*/
.topnav {
  overflow: hidden;
  position: relative;
}

.topnav a.page-title{
  font-size: 20px;
}

#myLinks a{
  background-color: #333;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


footer{
  padding: 30px;
  text-align: center;
  background-color: #000000;
  margin-top: auto;
}
/*Einde w3schools code*/

footer p {
  color: #ffffff;
}
/*Tot hier is het dezelfde code voor elke pagina*/



.topnav {
  display: block;
} 

#pc-nav {
  display: none;
}

ul li a:hover {
  color: #20bc4e;
  border-bottom: 2px solid #20bc4e;
}

h1 {
  text-align: center;
  color: #ffffff;
}
main{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  flex-wrap: wrap;
  gap: 50px;
}
main a{
  text-decoration: none;
}

.card{
  width: 300px;
  border-radius: 25px;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 800px) {
  .topnav {
    display: none;
  } 

  #pc-nav {
    display: block;
  }
  
.card{
  width: 500px;
}
}