body{
    max-width: 100%;
    background-color: #000000;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #121212;
    padding: 10px;
    height: 50px;
    text-align: center;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}
ul li a{
    padding: 12px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

#pc-nav{
    display: none;
}
/*Begin w3schools code*/
.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a.page-title{
    font-size: 20px;
}

#myLinks a{
    background-color: #333;
}
  
.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


footer{
    padding: 30px;
    text-align: center;
    background-color: #000000;
}
/*Einde w3schools code*/
footer p {
    color: #ffffff;
}

main{
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

ul li{
    margin-bottom: 10px;
}

h1{
    text-align: center;
    color: #ffffff;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    flex-wrap: wrap;
    gap: 50px;
}
main a{
    text-decoration: none;
}

.card{
    width: 300px;
    border-radius: 25px;
    background-color: #121212;
    text-align: center;
}

.list{
    display: flex;
    list-style-type: none;
    font-size: x-large;
    justify-content: center;
}
ul{
    padding: 0;
}

@media only screen and (min-width: 800px) {
    #pc-nav{
        display: block;
    }

    .card{
        width: 500px;
    }
    .topnav{
        display: none;
    }
}
    
    


